/* main div */
.mainContactSeller{
    display : flex;
    flex-direction: column;
    padding-left : 15px;
    padding-right : 15px;
    padding-top : 5px;
    padding-bottom :5px;
    border : 1px solid #b2bec3;
    border-radius : 5px;
    margin-left : 15px;
    margin-top : 10px;
}


/* heading */
.contactHead{
    font-size : 20px;
    font-weight : 700;
    color : #002f34;
    margin-bottom : 10px;
}

.sellerName{
    font-size : 18px;
    font-weight : 600;
    margin-top : 10px
}

@media screen and (max-width : 1024px){
    .sellerName{
        font-size : 15px;
    }
}
