/* right dropdown button */
.rightDropDown{
    font-size : 17px;
    margin-left : 2px;
    margin-top : 5px
}

.mainNavbarImg{
    cursor : pointer;
    width: 30px;
    height : 30px
}

.mainNavbarMain{
    margin-top : 10px
}

.thirdSecOfMainNav{
    display : flex;
    justify-content : space-between;
    padding-top : 17px;
}

.drawerIcon{
    display : none;
    color : #34ace0;
    font-size : 27px;
    margin-top : 20px;
}

.drawerBtn{
    background-color: transparent;
    color : #FFFFFF;
    font-weight : 600;
    font-size : 18px;
    border : none;
    box-shadow: none;
    margin-bottom : 20px
}

.mainNavHide{
    display : none;
}

/* add new property btn */
.button-71{
    background-color: #0078d0;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    outline: 0;
    max-width : 130px;
    padding: 16px 21px;
    padding-top : 3px !important;
    padding-left : 15px !important;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.button-71:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
}
.button-71:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
}


.searchBtn{
    background-color:#487eb0;
    colOR : #ffffff;
    width : 40px;
    margin-left : 5px;
    height : 40px;
}


@media screen and (max-width: 1200px){
    .mainNavbarImg{
        width: 27px;
        height : 27px
    }

}


@media screen and (max-width: 768px){
    .mainNavbarMain{
        margin-left : -50px !important;
        margin-right : -50px !important;
    }
    .drawerIcon{
        display : block;
    }
    .thirdSecOfMainNav{
        display : none
    }
    .mainNavHide{
        display : block;
        display : flex;
        padding-top : 20px;
        flex-direction: column;
    }
    
}

@media screen and  (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}