/* main head */
.upperMainNavBar{
    display : flex;
    justify-content: space-between;
    align-items : center;
    padding-top : 5px
}

.upperMainNavBar .btn{
    background-color : transform;
    color : #303952;
    font-weight : 550;
    border : 1px solid #fdcb6e;
    border-radius : 10px ;
    height : 40px;
    padding-top : 0;
    font-size : 15px;
    box-shadow : none;
    margin-left : 15px
}

.upperMainNavBar .btn:hover{
    color : #FFFFFF;
    background-color : #fdcb6e;
    border: none
}

.hideUperNav{
    max-width : 25px;
    max-height : 25px;
    display : none;
}

.mainUpperDiv{
    display : flex;
    justify-content : space-between;
    margin-bottom : -15px;
}

.modal{
    width : 400px;
    margin-top : -30px
}

.signIn{
    display : flex;
    flex-direction: column;
}

.signInText{
    font-size : 15px;
    font-weight : 700;
    text-align: left;
    margin-bottom : 5px
}

.signInBtn{
    background-color : #e15f41;
    color : #ffffff;
    margin-top : 15px;
    border-radius : 5px;
    border : none;
    font-weight :600;
    font-size : 15px
}

.signInBtn:hover{
    background-color : transparent;
    color : #e15f41;
    border : 1px solid #e15f41;
}


@media screen and (max-width : 576px){
    .upperMainNavBar{
        margin-left : -30px;
    }
}

@media screen and (max-width : 425px){
    .hideUperNav{
        display :block;
        margin-right  : -40px;
    }
    .mainUpperDiv{
        display : none
    }
    .modal{
        width : 375px
    }
}

@media screen and (max-width : 320px){
    .upperMainNavBar{
        margin-left : -40px;
    }
}